
/* about us */
.about, .vision{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 3rem;
    align-items: center;
}
.vision article{
    width: 50vw;
}
div img{
    width: 350px;
}
.about p{
    margin: 0;
    padding-left: 2rem;
}
.team{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    margin-top: 3rem;
    justify-content: space-around;
}
.team h2{
    grid-column: 1/4;
}
.team-cards{
    border: 1px solid gray;
    border-radius: 10px;
    width: 20vw;
    box-shadow: 0px 0px 10px var(--contact-us-form-box-shadow);
}
.team img{
    border-radius: 10px;
    width: 100%;
    height: 200px;
}

