
/* contact us */

.office, .faqs{
    margin: 2rem auto;
}
.faqs{
    text-align: left;
}
.faqs > article{
    margin: 2rem 1em;
}
.main h4{
    margin: auto 2rem;
    text-align: left;
    font-size: 1.2rem;
}
b > p{
    background-color: var(--light-gray);
    padding: 5px;
}
.form > form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 1em 35vw 2rem;
    border: 1px solid var(--light-gray);
    font-weight: bold;
    box-shadow: 0px 0px 10px var(--contact-us-form-box-shadow);
    background-color: var(--light-bg-color);
}
.form-item{
    margin: 10px;
    display: grid;
    grid-template-columns: 40% auto;
}
.form-item input{
    width: 100%;
}
.form-item:nth-last-child(1) input{
    grid-column: 1/3;
    text-align: center;
    margin: auto;
}
.form input[type='submit']{
    padding: 5px;
    background-color: lawngreen;
    border-radius: 5px;
}
@media screen and (max-width: 700px) {
    .form > form{
        width: 90vw;
        margin: 1em auto;
    }
    .form-item{
        display: flex;
        flex-direction: column;
    }
}