details, summary{
    border: transparent;
    outline: transparent;
}
em{
    display: block;
}
.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa, .checked {
  font-size: 25px;
}

.checked {
  color: orange;
}
main > section{
  display: grid;
  grid-template-columns: auto auto;
  background-color: #d7dbdf;
  margin: 20px;
  padding: 10px;
}
img[alt='HTML']{
  margin: auto;
  width: 40vw;
  border: 5px solid black;
}

/* tabs */
.buy-button{
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #ff9800;
  color: #f44336;
  font-weight: bolder;
}
#tabs > ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #575751;
  margin-bottom: 0;
  position: sticky;
  top: 55px;
}
#tabs ul li{
  list-style-type: none;
  font-weight: bold;
  margin-bottom: -1px;
  padding: 10px 20px;
}
li a{
  color: #eaebe7;
}
#tabs > div{
  background-color: #eaebe7;
  text-align: left;
  padding: 20px;
}
#tabs div :is(:not(h3)){
  padding-left: 10px;
}
.ui-tabs-active a{
  color: #00bcd4;
}
#tabs .ui-tabs-active{
  background-color: #eaebe7;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#tabs section{
  margin-bottom: 50px;
}

/* tab2 */
.benifits{
  width: 70vw;
  text-align: left;
}

/* instructor */
.instructor-card{
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  width: 40vw;
  background-color: #b1dfaf;
}
.instructor-card img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

/* user rating */
.review-section{
  width: 70vw;
  margin: auto;
  background-color: #b9e6ec;
  padding: 50px;
}
/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #cac6c6;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}