/* home page */
.more-courses-btn button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: skyblue;
    font-size: 1.2rem;
}

.features{
    background-color: var(--light-bg-color);
    padding-top: 2rem;
}
.feature-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.features > h2{
    grid-column: 1/3;
}
.feature-cards > img{
    width: 150px; height: 100px;
}
.feature-cards{
    margin: 3rem 1rem;
}

/* tablet view */
@media only screen and (max-width: 800px) {
    .card-container{
        grid-template-columns: repeat(2, auto);
    }
    .feature-card-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* mobile view */
@media only screen and (max-width: 500px) {
    .card-container{
        grid-template-columns: auto;
    }
    .feature-card-container{
        grid-template-columns: 1fr;
    }
}