main{
    display: flex;
    justify-content: center;
    text-align: center;
}
form{
    background-color: var(--bg-color);
    border: 5px outset var(--border-color);
    color: var(--text-color);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px black;
}
form fieldset{
    border: transparent;
    outline: transparent;
}
form legend{
    margin: auto;
}
form section{
    font-weight: bolder;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    margin: 10px;
}
section input{
    border-radius: 10px;
    outline: transparent;
    padding: 5px 10px;
    width: 100%;
}

.first-name, #registerBtn{
    grid-column: 1;
} 
.last-name, #resetBtn{
    grid-column: 2;
}
section > *{
    grid-column: 1/3;
}
section{
    position: relative;
}
#resetBtn, #registerBtn{
    border-radius: 10px;
    background-color: rgb(101, 252, 41);
    font-size: 1.3rem;
}
#resetBtn{
    background-color: rgb(255, 35, 35);
}
.viewPasswordBtn{
    width: 50px;
    height: 100%;
    border: transparent;
    outline: transparent;
    position: absolute;
    align-items: baseline;
    right: 0;
    bottom: -10px;
    background-color: transparent;
}
.error{
    position: absolute;
    background-color: rgb(247 223 223);
    color: #f00;
    margin-top: 5px;
    height: 30px;
    margin-left: 10px;
    padding-left: 5px;
    border-radius: 10px;
    z-index: 2;
}
.error::after{
    content: "";
    height: 0;
    width: 0;
    border: 15px solid transparent;
    position: relative;
    top: -35px; right: 10px;
    border-bottom-color: rgb(247 223 223);
    /* border-bottom-color: transparent; */
}
