.schedule, .schedule span{
    display: block;
    text-align: center;
}
section > article{
    background-color: var(--bg-color);
    margin: auto;
    width: 70vw;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}