/* sitemap */
#site-map section{
    text-align: left;
    margin: 10px;
}
#site-map section ul{
    margin: 10px 40px;
}
.map{
    position: absolute;
    top: 85vh;
    right: 1em;
}
.map img{
    width: 50vw;
}

@media screen and (max-width: 500px) {
    .map{
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        padding: 10px;
    }
    .map img{
        width: 100%;
    }
}