:root{
    --nav-box-shadow: 0px 5px 5px rgb(173, 173, 173);
    --bg-color: #fff;
    --text-color: #000;
    --light-gray: rgb(226, 226, 226);
    --light-bg-color: rgb(236, 236, 236);
    --cards-box-shadow-color: rgb(146, 141, 141);
    --instructor-font-color: rgb(104, 96, 96);
    --button-font-color: rgb(65, 52, 52);
    --contact-us-form-box-shadow: rgb(145, 144, 144);
    --light-blue: #1690d6;
    --border-color: rgb(226, 226, 226);
    --instructor-card: #b1dfaf;
}

/* contains all the styles for all the components across the pages  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 120px;
}
body{
    position: relative;
    min-width: 200px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.link{
    cursor: pointer;
}

header{
    text-align: center;
    margin-bottom: 1em;
    color: var(--text-color);
}
nav{
    background-color: var(--light-bg-color);
    color: var(--text-color);
}
.dark-mode-container{
    display: flex;
    width: fit-content;
    justify-self: flex-end;
    align-items: center;
    padding: 0px 10px;
}
.toggle-btn{
    position: relative;
    display: inline-block;
    height: 30px;
    width: 56px;
    margin: auto;
}
.toggle-btn input{
    opacity: 0;
    width: 0;
    height: 0;
}
.dark-mode-title{
    font-weight: bold;
    margin: auto 10px;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 30px;
    transition: .4s;
}
.slider::before{
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 10px;
}
input:checked + .slider{
    background-color: #121313;
}
input:focus + .slider{
    box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider::before{
    transform: translateX(26px);
}


/* nav bar */
#header{
    position: sticky;
    top: 0;
    z-index: 1;
    /* background-color: rgb(255, 255, 255); */
    background-color: var(--light-bg-color);
    color: var(--text-color);
}
.nav-container{
    text-align: center;
    margin-bottom: 0.5em;
    box-shadow: var(--nav-box-shadow);
}
.menu-btn{
    display: none;
    visibility: hidden;
    color: var(--text-color);
}
.navbar{
    display: grid;
    grid-template-columns: auto auto auto;
    min-height: 50px;
}
.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-item{
    margin: 5px auto;
}
.nav-link{
    list-style: none;
    cursor: pointer;
    background-color: var(--light-bg-color);
    color: var(--text-color);
}
.logo{
    height: 40px;
    width: 50px;
}
#dropdown-btn{
    border-radius: 50px;
    background-color: var(--light-blue);
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 10px;
    margin: 5px;
}
#dropdown-list{
    position: absolute;
    background-color: rgb(160, 204, 255);
    color: black;
}
#dropdown-list .nav-link{
    border: 1px solid saddlebrown;
    display: block;
    padding: 5px 10px;
}
.list{
    display: none;
    visibility: hidden;
}
#back-btn{
    position: fixed;
    top: 65px;
    right: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: red;
    z-index: 1;
    box-shadow: 0px 0px 5px rgb(43, 0, 0);
}
nav a{
    color: rgb(24, 24, 24);
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: none;
}
nav a:hover{
    color: #6d6d6d;
    text-decoration: underline;
}

@media only screen and (max-width: 900px) {
    .navbar{
        grid-template-columns: 60% auto auto;
    }
    .nav-items{
        grid-column: 1/4;
        grid-row: 2;
        display: block;
    }
    .nav-items{
        display: none;
        text-align: left;
    }
    .active{
        display: block;
    }
    .nav-item{
        padding: 2px 10px;
        border: 1px solid transparent;
    }
    li.nav-item:hover{
        border: 1px solid black;
        background-color: gray;
    }
    .nav-link:first-child{
        display: none;
        background-color: gray;
    }
    .menu-btn{
        display: inline-block;
        visibility: visible;
        width: fit-content;
        background-color: transparent;
        border: transparent;
        outline: transparent;
        margin: 10px 20px auto;
        font-size: 1.7rem;
    }
}
@media only screen and (max-width: 500px) {
    .navbar{
        grid-template-columns: auto auto auto;
    }
    #back-btn{
        top: 120px;
    }
}

@media only screen and (max-width: 250px) {
    .dark-mode-container{
        display: grid;
        text-align: center;
    }
    #back-btn{
        display: none;
    }
    .bottom{
        display: grid;
    }
}






/* common styles for main content across all pages */
.main{
    text-align: center;
}
.background-image{
    height: 60vh;
    width: 96vw;
    margin: auto;
    opacity: 90%;
}
/* display cards */
.courses-section{
    text-align: left;
    margin: 3rem auto 2rem;
    padding: 0 1em;
}
.courses-heading, .courses-section a[href='./course-listing.html']{
    text-decoration: none;
    color: var(--text-color);
    margin: 3rem auto 1rem 1rem;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}
#course-listing .card-container{
    justify-content: flex-start;
    width: 100vw;
} 
.cards > img{
    width: 100%;
    height: 150px;
}
.cards{
    display: grid;
    padding: 1em;
    margin: 1em;
    text-align: left;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 10px var(--cards-box-shadow-color);
    background-color: var(--light-bg-color);
    border-radius: 5px;
    max-width: 300px;
}
.instructor{
    font-size: large;
    color: var(--instructor-font-color);
}
.ratings{
    font-size: large;
    font-weight: bolder;
    margin: 10px auto;
}
.checked{
    color: orangered;
}
.price{
    font-weight: bolder;
    margin: 10px auto;
}
.sale{
    background-color: orange;
    color: red;
    border-radius: 10px;
    padding: 0 5px;
}
.card-buttons{
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    height: fit-content;
}
.courses-section button{
    padding: 10px;
    background-color: transparent;
    color: var(--text-color);
    border-color: var(--border-color);
}
.more-courses-btn{
    margin-bottom: 1.5rem;
}



footer{
    background-color: var(--light-bg-color);
    margin-top: 50px;
    padding: 20px 15px 10px;
}
.link-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
footer a{
    color: var(--text-color);
    text-decoration: none;
    margin: 2px 5px;
}
.link-title{
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.social-icons{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px 25px;
    text-align: left;
}
.legal{
    display: grid;
    grid-gap: 10px;
    text-align: left;
}
.bottom{
    margin: 15px 0 -5px;
}
.bottom, .bottom > a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 500px) {
    .link-title{
        text-align: left;
    }
    .link-container{
        flex-direction: column;
        gap: 1em;
    }
    .social-icons{
        grid-template-columns: auto;
    }
    .background-image{
        width: 100%;
        height: auto;
    }
}
