/* privacy policy */
.policy{
    margin: auto;
    padding: 20px;
    height: 70vh; width: 80vw;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px var(--contact-us-form-box-shadow);
    background-color: var(--light-bg-color);
}
.policy p{
    margin: 5px 10px;
}
.policy ul{
    margin: 10px 50px;
}
.policy a{
    color: var(--text-color);
}