*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ position: relative; }
nav{
    box-shadow: 0px 5px 5px rgb(173, 173, 173);
}
.dark{
    background-color: rgb(63, 62, 62);
    color: rgb(223, 223, 223);
}
.toggle-btn{
    position: relative;
    display: inline-block;
    height: 30px;
    width: 56px;
}
.toggle-btn input{
    opacity: 0;
    width: 0;
    height: 0;
}
.dark-mode-title{
    font-weight: bold;
    align-self: baseline;
    text-align: center;
    padding-top: 5px;
    padding-right: 10px;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 30px;
    transition: .4s;
}
.slider::before{
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 10px;
}
input:checked + .slider{
    background-color: #2196f3;
}
input:focus + .slider{
    box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider::before{
    transform: translateX(26px);
}
header{
    display: flex;
    justify-content: center;
    margin: 1em auto;
    color: rgb(51, 255, 0);
}
.main{
    text-align: center;
}
.background-image{
    height: 60vh;
    width: 96vw;
    margin: auto;
    opacity: 90%;
}
.nav-container{
    position: relative;
    height: 7vh;
}
.logo{
    height: 40px;
    width: 50px;
}
.hideComponent{
    display: none;
    visibility: hidden;
}
footer{
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding: 1rem;
    padding-bottom: 0;
    margin-top: 2rem;
    background-color: rgb(187, 187, 187);
}
footer > span{
    display: flex;
    justify-content: space-between;
}
span > span{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 0;
}
.legal{
    display: flex;
    flex-direction: column;
}
span > h6{
    grid-column: 1/5;
    text-align: center;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.social-icons > li{
    margin: 10px;
}
a[href]{
    text-decoration: none;
}
.social-icons > a{
    margin: 0 10px;
}



/* home page */
.features{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 2rem;
}
.features > h2{
    grid-column: 1/3;
}
.feature-cards > img{
    width: 150px; height: 100px;
}
.feature-cards{
    margin: 3rem 1rem;
}


.courses-section{
    text-align: left;
    margin: 3rem auto;
}
.courses-section > h2{
    margin: 3rem auto 1rem 1rem;
}
.card-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.cards > img{
    width: 100%; height: 150px;
}
.cards{
    width: 28vw;
    padding: 1em;
    margin: 1em;
    border: 1px solid rgb(94, 54, 54);
    box-shadow: 0px 0px 10px rgb(146, 141, 141);
    border-radius: 5px;
    line-height: 10px;
}
.instructor{
    font-size: large;
    color: rgb(154, 155, 156);
}
.ratings{
    font-size: large;
    font-weight: bolder;
}
.checked{
    color: orangered;
}
.price{
    font-weight: bolder;
}
.sale{
    background-color: orange;
    color: red;
    border-radius: 10px;
    padding: 0 5px;
}
.card-buttons{
    display: flex;
    justify-content: space-between;
}
button{
    padding: 10px;
    background-color: transparent;
    color: rgb(65, 52, 52);
}



/* contact us */
.office, .faqs{
    margin: 2rem auto;
}
.faqs{
    text-align: left;
}
.faqs > article{
    margin: 2rem 1em;
}
.main h4{
    margin: auto 2rem;
    text-align: left;
}
b > p{
    background-color: rgb(226, 226, 226);
}
.form > form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: auto 35vw 2rem;
    border: 1px solid gray;
    box-shadow: 0px 0px 10px rgb(145, 144, 144);
    font-weight: bold;
}
.form-item{
    margin: 10px;
    display: grid;
    grid-template-columns: 20% auto;
}
.form-item:nth-last-child(1) input{
    grid-column: 1/3;
    text-align: center;
    margin: auto;
}



/* about us */
.about, .vision{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 3rem;
    align-items: center;
}
.vision article{
    width: 50vw;
}
div img{
    width: 350px;
}
.about p{
    margin: 0;
    padding-left: 2rem;
}
.team{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    margin-top: 3rem;
    justify-content: space-around;
}
.team h2{
    grid-column: 1/4;
}
.team-cards{
    border: 1px solid gray;
    border-radius: 10px;
    width: 20vw;
    box-shadow: 0px 0px 10px rgb(150, 150, 148);
}
.team img{
    border-radius: 10px;
    width: 100%;
    height: 200px;
}



/* sitemap */
.left-align{
    margin: 1rem;
}
.map{
    position: absolute;
    top: 100vh; right: 0;
}
.map img{
    margin-right: 2em;
    width: 65vw;
    height: 60vh;
}


/* privacy */
.policy{
    margin: auto;
    padding: 10px;
    height: 60vh; width: 80vw;
    border: 1px solid gray;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px rgb(160, 160, 153);
}