body{
    background-color: rgb(227, 234, 240);
}
main{
    display: flex;
    justify-content: space-around;
}
main > div{
    padding: 3.1rem 1rem;
    text-align: center;
}
button{
    background-color: rgb(82, 247, 41);
    border-radius: 10px;
    font-weight: 500;
    margin-top: 50px;
}