<section class="link-container">
    <div>
        <h4 class="link-title">Social Media Handles</h4>
        <span class="social-icons">
            <a href="https://twitter.com">
                <i class="fab fa-twitter"></i>
                Twitter
            </a>
            <a href="https://facebook.com">
                <i class="fab fa-facebook"></i>
                Facebook
            </a>
            <a href="https://youtube.com">
                <i class="fab fa-youtube"></i>
                Youtube
            </a>
            <a href="https://instagram.com">
                <i class="fab fa-instagram"></i>
                Instagram
            </a>
            <a href="https://in.linkedin.com/">
                <i class="fab fa-linkedin-in"></i>
                Linked-In
            </a>
            <a href="hhttps://discord.com/">
                <i class="fab fa-discord"></i>
                Discord
            </a>
            <a href="https://web.whatsapp.com/">
                <i class="fab fa-whatsapp"></i>
                Whatsapp
            </a>
        </span>
    </div>
    <div>
        <h4 class="link-title">Legal</h4>
        <span class="legal">
            <a href="privacy-policy.html">Privacy Policy</a>
            <a href="privacy-policy.html">Terms and Conditions</a>
        </span>
    </div>
</section>

<span class="bottom">
    <a href="index.html">
        <img class="logo" src="./images/favicon.png" alt="Logo" />
        ABC Learning Center
    </a>
    <span>@2021 ABC Inc. All rights reserved.</span>
</span>