<section class="nav-container">
    <nav class="navbar">
        <button class="menu-btn">
            <i class="fas fa-bars"></i>
        </button>
        <ul class="nav-items">
            <a class="nav-link" href="index.html">
                <li class="nav-item" id="nav-logo">
                    <img class="logo" src="./images/favicon.png" alt="Logo" />
                </li>
            </a>
            <a class="nav-link active" href="./index.html">
                <li class="nav-item">
                    Home
                </li>
            </a>
            <a class="nav-link" href="./about-us.html">
                <li class="nav-item">
                    About Us
                </li>
            </a>
            <a class="nav-link" href="./contact-us.html">
                <li class="nav-item">
                    Contact Us
                </li>
            </a>
            <a class="nav-link" href="./course-listing.html">
                <li class="nav-item">
                    Courses
                </li>
            </a>
            <a class="nav-link" href="./site-map.html">
                <li class="nav-item">
                    Sitemap
                </li>
            </a>
            <a class="nav-link" href="./privacy-policy.html">
                <li class="nav-item">
                    Privacy Policy
                </li>
            </a>
        </ul>
        <div class="nav-item">
            <button class="nav-link" id="dropdown-btn">Explore</button>
            <ul id="dropdown-list" class="list">
                <a class="nav-link" href="./course-listing.html#web-dev">
                    <li>
                        Web Development
                    </li>
                </a>
                <a class="nav-link" href="./course-listing.html#programming-basics">
                    <li>
                        Programming Languages 
                    </li>
                </a>
                <a class="nav-link" href="./course-listing.html#others">
                    <li>
                        Others
                    </li>
                </a>
            </ul>
        </div>
        <section class="dark-mode-container">
            <span class="dark-mode-title">Dark Mode</span>
            <label class="toggle-btn">
                <input type="checkbox" id="dark-mode-toggle">
                <span class="slider"></span>
            </label>
        </section>
    </nav>
</section>

<h1 class="nav-link" id="home"> ABC Learning Center </h1>

<button id="back-btn">Back</button>
