.schedule, .schedule span{
    display: block;
    text-align: center;
}
section > article{
    background-color: rgb(245, 245, 245);
    margin: auto;
    width: 70vw;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}