details,
summary {
  border: transparent;
  outline: transparent;
}

em {
  display: block;
  font-style: normal;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa,
.checked {
  font-size: 25px;
}

.checked {
  color: orange;
}

.center{
  text-align: center;
}
.details button{
  border-radius: 10px;
  padding: 5px 10px;
  margin: 1em 0;
}
main > section {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light-gray);
  margin: 20px;
  padding: 10px;
  justify-content: space-evenly;
}
main:first-child div{
  margin: 10px;
}
img[alt="HTML"] {
  margin: 0;
  border: 5px solid black;
}
@media screen and (max-width: 300px) {
  img[alt="HTML"] {
    width: 100%;
  }
}

/* tabs */
.buy-button {
  border-radius: 10px;
  padding: 5px 20px;
  background-color: #f8b653;
  color: #f44336;
  font-weight: bolder;
}
.price{
  display: block;
  margin: auto;
}

#tabs > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--bg-color);
  margin-bottom: 0;
  align-items: center;
}

#tabs ul > li {
  list-style-type: none;
  font-weight: bold;
  padding: 2px;
}

li a {
  color: var(--text-color);
}

#tabs > div {
  background-color: var(--light-bg-color);
  text-align: justify;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
#tabs div h1, h2, h3{
  margin: 5px 50px;
}

.ui-tabs-active a {
  color: #00bcd4;
}

#tabs .ui-tabs-active {
  background-color: var(--light-bg-color);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px 20px;
}

#tabs section {
  margin-bottom: 50px;
}

/* tab2 */
.benifits {
  padding: 10px 20px;
  text-align: left;
  margin: auto;
}

/* tab 3 */
#tabs-3 div, h1, h2, h3{
  text-align: center;
}
.instructor-card {
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  width: 40vw;
  background-color: var(--instructor-card);
}

.instructor-card img {
  border-radius: 50%;
  width: 60%;
}

/* user rating */
.review-section {
  width: 70vw;
  margin: auto;
  background-color: var(--instructor-card);
  padding: 50px;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #cac6c6;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {
  width: 60%;
  height: 18px;
  background-color: #4caf50;
}

.bar-4 {
  width: 30%;
  height: 18px;
  background-color: #2196f3;
}

.bar-3 {
  width: 10%;
  height: 18px;
  background-color: #00bcd4;
}

.bar-2 {
  width: 4%;
  height: 18px;
  background-color: #ff9800;
}

.bar-1 {
  width: 15%;
  height: 18px;
  background-color: #f44336;
}
@media (max-width: 600px) {
  .heading{
    display: block;
  }
}
/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 500px) {
  .side,
  .middle {
    width: 100%;
  }

  /* Hide the right column on small screens */
  .right {
    display: none;
    width: 100%;
  }
}
